<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Student Manager</title>
</head>
<body>
<div align="center">
  <h1>Student List</h1>
  <a href="new">Create New Student</a>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>First Name</th>
      <th>Branch</th>
      <th>Percentage</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${listStudent}">
      <td th:text="${product.id}">Student ID</td>
      <td th:text="${product.fname}">First Name</td>
      <td th:text="${product.lname}">Last Name</td>
      <td th:text="${product.branch}">Branch</td>
      <td th:text="${product.percentage}">Percentage</td>
      <td>
        <a th:href="@{'/edit/' + ${student.id}}">Edit</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{'/delete/' + ${student.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>